body { margin:0 }
header {
    width:auto;
    height:85px;
    background-color:rgb(201, 83, 137);
    border-bottom:1px solid #c95389;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 50px;
}
body{
    background-image: url("/projetos/public/images/fundo djabo.png");
}

header div{
    margin: 0 auto;
}
div#botao_login{
    margin: 20px;
    height:15px;
    width:100px; 
    border:0; 
    padding:5px; 
    border-radius: 15px; 
    background-color: #661330;
    text-align: center;
    font-weight: 900; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
div#botao_login:hover{
    color: #661330;
    background-color: rgb(19, 255, 173);
}

div#header_central {
    width:800px;
    height:87px;
    margin:0 auto;
    align-items: center;
}

main {
    width:960px;
    min-height: 500px;
    padding:20px 0;
    margin:0 auto;
}

footer {
    clear: both;
    width:100%;
    height:60px;
    border-top:1px solid #c95389;
}

div#footer_central {
    width:600px;
    margin:0 auto;
}

div#footer_central p {
    font-family: sans-serif;
    font-size: 11px;
    text-align: center
}
